@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
        url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
        url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



html {
    min-width:min-content;
}

body {
    font-family: 'Lato', sans-serif;
}

/*header "YumYum" starts here*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-logo {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 20px;
}

.logocaption {
    color: grey;
}

.container-buttons {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 20px;
}

#menu {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(96%) contrast(85%);    
}

#cartlogo {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(96%) contrast(85%);    
}

/*Header ending*/

main {
    width: 286px;
}

/*Green box start*/
.green-box {
    background-image: linear-gradient(#c0da39, #74cc52);
    font-family: intro;
    color: white;
    padding: 10px;
}

.white-box-form {
    background-color: white;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
}

#pin-logo {
    filter: invert(62%) sepia(68%) saturate(3274%) hue-rotate(332deg) brightness(101%) contrast(96%);
}

#bbq-logo {
    filter: invert(62%) sepia(68%) saturate(3274%) hue-rotate(332deg) brightness(101%) contrast(96%);
}

#inputboxes {
    border-color: white;
}

#findafoodbutton {
    margin-top: 2em;
    background-color: #fa7344;
    border-radius: 5px;
    border: 0cm;
    color: aliceblue;
    font-weight: 900;
    font: size 4em;
    padding: 15px;
}
/*green box ends*/


/*How It Works*/
#how-it-works-title {
    color: #fa7344;
}

.instrucciones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logos {
    flex-wrap: nowrap;
    margin: 7px;
    float: left;
}

.textitos {
    text-align: justify;
    position: relative;
        
}

#search {}

/*Dishes section*/
#dishes-title {
    color: #fa7344;
}