@font-face {
    font-family: 'Intro';
    src: url('intro-regular-webfont.woff2') format('woff2'),
        url('intro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro';
    src: url('intro-black-webfont.woff2') format('woff2'),
        url('intro-black-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}



html {
    min-width: 100vw;
}

body {
    font-family: Lato;
    src: local(C:\Users\Manu\BOOTCAMP FACTORIA F5\yum-yum-ManuKovacicSG\fonts\Lato);
}

/*header "YumYum" starts here*/
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.container-logo {
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 20px;
}

.logocaption {
    color: grey;
}

.container-buttons {
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin-top: 20px;
}

#menu {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(96%) contrast(85%);
}

#cartlogo {
    filter: invert(53%) sepia(0%) saturate(0%) hue-rotate(255deg) brightness(96%) contrast(85%);
}

/*Header ending*/

main {
    width: 286px;
}

/*Green box start*/
.green-box {
    background-image: linear-gradient(#c0da39, #74cc52);
    font-family: intro;
    color: white;
    padding: 10px;
}

#order-title {
    font-size: 2.3rem;
}

.white-box-form {
    background-color: white;
    margin: auto;
    height: auto;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
    color: #808080;
    font-family: lato;
}

#pin-logo {
    filter: invert(62%) sepia(68%) saturate(3274%) hue-rotate(332deg) brightness(101%) contrast(96%);
    float: left;
    align-items: center;
    margin-left: 6px;
}

#bbq-logo {
    filter: invert(62%) sepia(68%) saturate(3274%) hue-rotate(332deg) brightness(101%) contrast(96%);
    float: left;
    align-items: center;
    margin-left: 6px;
}

#top-input {
    border-bottom: 2px #cccccc solid;
}

#findafoodbutton {
    margin-top: 2em;
    background-color: #fa7344;
    border-radius: 5px;
    border: 0cm;
    color: aliceblue;
    font-family: Lato;
    font-weight: 900;
    font: size 4em;
    padding: 15px;
}

/*green box ends*/


/*How It Works*/
#how-it-works-title {
    color: #fa7344;
    text-align: center;
    font-family: intro;
    font-size: 2rem;
}

.instrucciones {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logos {
    flex-wrap: nowrap;
    margin: 7px;
    float: left;
}

.textitos {
    text-align: justify;
    position: relative;
}

/*Dishes section*/
#dishes-title {
    color: #fa7344;
    text-align: center;
    font-family: intro;
    font-size: 2rem;
    margin-top: 2em;
}

.dishes-section {
    background-color: #f5f5eb;
    margin-bottom: 2%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(286px, 1fr));
    justify-content: space-between;
}

.first-plate-box {
    width: 250px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    background: linear-gradient(to top,
            white 0%,
            white 55%,
            #969fa6 45%,
            #969fa6 100%);
    justify-content: space-around;
}



.second-plate-box {
    width: 250px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    background: linear-gradient(to top,
            white 0%,
            white 55%,
            #969fa6 45%,
            #969fa6 100%);
}
.third-plate-box {
    width: 250px;
    height: 400px;
    border-radius: 5px;
    margin: auto;
    background: linear-gradient(to top,
            white 0%,
            white 55%,
            #969fa6 45%,
            #969fa6 100%);
}

#buy-now-button {
    background-color: green;
    border-radius: 5px;
    border-color: green;
    color: #f5f5eb;

}

/*caja naranja starts*/
.caja-naranja {background-image: linear-gradient(#fa7344, #ee3b51);
    color: #f5f5eb;
    min-width: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 10 px;
}

#four-logos {
    filter: invert(77%) sepia(21%) saturate(5723%) hue-rotate(348deg) brightness(95%) contrast(100%);
    align-items: center;
}

.easy-online {
    float: inline-start;
}
#txt-easyonline {
    text-align: justify;
    padding: 10px;
    display: inline-block;
}